@page

@inject IViewLocalizer Localizer

@model DownloadPersonalDataModel


@{
    ViewBag.Title = Localizer["Download Your Data"];
    ViewBag.ActivePage = ManageNavPages.PersonalData;
}

<h3>@ViewBag.Title</h3>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}