@{
    ViewBag.Title = "Off-Road World";
}

<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>To the website where you can find everything about the Off-Road World!</p>
    <p>Discussions, Events, Marketplace, News and more!</p>
</div>